/*Eksternal CSS*/

/*Memberi gaya pada body*/
body{ 
    margin:0; /*Membuat margin menjadi 0 pada body*/
    background-color:rgb(26, 1, 1); /*Memberi warna latar belakang body dengan warna merah kegelapan*/
}

/*Memberi gaya pada header*/
header{ 
    background: linear-gradient(to left, black, red, black); /*Memberi warna latar belakang pada header dengan gradasi warna hitam. merah, dan hitam*/
    display:flex; /*Menggunakan flexbox untuk mengatur tata letak header*/
    align-items:center; /*Mengatur elemen pada header agar sejajar dan vertikal*/
    justify-content:space-between; /*Mengatur jarak antar elemen pada header*/
    padding:20px 40px; /*Memberi padding pada header dengan 20px untuk atas dan bawah, serta 40px untuk kiri dan kanan*/
}

/*Memberi gaya pada elemen h1 di dalam header*/
header h1{
    color:white; /*Memberi warna putih pada teks*/
    margin:0; /*Menghilangkan jarak luar bawaan teks*/
    text-align:center; /*Mengatur teks agar sejajar di tengah*/
    flex:1; /* Memberikan ruang sisa agar judul selalu di tengah meski ada logo */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /*Mengubah font pada teks*/
}

/*Memberi gaya pada kelas card*/
.card {
            background: white; /*Memberi warna latar belakang kartu menjadi putih*/
            padding: 5px; /*Memberi pading pada kartu dengan 5px*/
            border-left: 5px solid rgb(125, 4, 4); /*Memberi garis tebal berwarna merah pada sisi kiri kartu*/
            margin-top: 20px; /*Memberi jarak di atas kartu dengan 20px*/
            border-radius: 8px; /*Membuat sudut pada kartu menjadi melengkung*/
}